{%load static%}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">디지털스마트부산</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse nav justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
              
              </li>
              
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/board/main">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/board">게시판</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/board/study">스터디</a>
              </li>

              <li class="nav-item">
                {% if request.session.user_id %}
                  <a class="nav-link" href="{% url 'member:logout_custom' %}" style="color: black">
                    {{ request.session.user_name }} 님 반갑습니다. (로그아웃)
                  </a>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </nav>